@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  font-family: inherit;
  font-weight: #FF007F;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.search-bar {
  width: 500px;
  color: white;
  font-weight: #FF007F;
}


.Search-Button {
  height: 50px;
}

.page {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  align-items: center;
  place-items: center;
  justify-content: center;
  color: #2621A6;
  font-weight: #2621A6;
}

:root {
  --gradient: linear-gradient(90deg, #191970, #2E3192 ,  #1BFFFF);
  --back: linear-gradient(90deg, #4E65FF, #92EFFD);
  --clr-1: #052b2f;
  --clr-2: #073438;
  --clr-3: #0e4b50;
  --clr-4: #2d8f85;
  --clr-5: #637c54;

}


h1 {
  font-size: 72px;
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: bg-animation 20s infinite alternate;

  margin-top: 25px;
  margin-bottom: 25px;
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

.three-guys {
  align-items: center;
  place-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
  font-weight: #FFFFFF;
}

div {
  margin: 10px 0
}

.player-pic {
  height: 200px;
  width: 200px;
}

.load-button {
  margin-left: 10px;
}

.profile-skel {
  height: 300px;
  width: 800px;
}

.tabs{
  align-items: center;
  place-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.bar {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  background-color: #1a1a1a;
}

/* @property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {--gradient-angle: 0deg};
  100% {--gradient-angle: 360deg};
}

[title = glow]{
  background: #1a1a1a;
  border-radius: 0.5em;
  position: relative;
}

[title = glow]::before,
[title = glow]::after{
  z-index: -.9;
  inset: -.5rem;
  content: "";
  filter: blur(10rem);
  position: absolute;
  inset: 0;
  background: #1a1a1a;
  border-radius: inherit;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3));
    border-radius: inherit;
    animation: rotation 20s linear infinite alternate;
} */

